.d-flex {
    max-height: 80px;
    background-color: #2196f3;
    padding-right:10px;
}


.jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background:blue;

}

.jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
    color: white;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
}

.jumbotron p {
    font-size: 30px;
}

.card-body {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
    background-color:blue;
}

.m-top-80 {
    margin-top: 80px;
}

textarea {
    padding: 10px;
    resize: none;
}

.bootbox-body .btn {
    float: right;
    margin: 5px;
}

.btn {
    margin:10px;
}

.select-label {
    margin:10px;
}


.card {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
    margin-bottom:12px;

}

.card-text{
    padding:10px;
}

.body{
    padding:10px;
}

h3 {
    padding-left:10px;
    margin-top:-10px;
    margin-bottom:-10px;
}

.navbar-nav > li > a.scrape-new {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800;
    color: white;
}

.navbar-nav > li > a.scrape-new:hover {
    background: #4caf50;
}

.navbar-nav > li > a.scrape-new:active {
    background: #e51c23;
}

.scrape-new {
    cursor: pointer;
}

